{% extends "base.html" %}


{% block content %}

    {% if cart.products.exists %}
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for product in cart.products.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}$</td>
                    <td> <a href="{% url 'cart:remove_from_cart_url' cart.id product.id %}" class='btn btn-danger btn-sm'>Remove</a> </td>
                </tr>
            {% endfor %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td></td>
                    <td>Total Price: <b>{{ cart.total_price }}$</b></td>
                    <td>
                        <a href="{% url 'orders:create_order_url'%}" class="btn btn-success">CheckOut!</a>
                    </td>
                </tr>
        </tbody>
        </table>
    {% else %}
        <h2 class="text-center">Cart is Empty!</h2>
    {% endif %}

{% endblock %}
