{% extends "base_index.html" %}
{% load thumbnail %}


{% block content_products %}

    <h3 class="text-center">All products:</h3>

    <a class='btn btn-info' href="{% url 'products_by_name_url'  %}">Order By Name</a>

    <div class="card-group">
        {% for item in items %}
            <a href="{% url 'product_detail_url' item.pk %}">
                <div class="card">
                    {% thumbnail item.image "200x200" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height= "{{ im.height }}" alt="" />
                    {% endthumbnail %}
                    <div class="card-block">
                        <h4 class="card-title">{{ item.name }}</h4>
                    </div>
                    <div class="card-footer">
                        <p class="badge badge-info">Price:{{ item.price }}$</p>
                        <form action="{% url 'cart:cart_update_url' %}" method="POST" class='form'>
                            {% csrf_token %}
                            <input type="hidden" name="product_id" id="product_id" value="{{ item.id }}" />
                            {% if item in cart.products.all %}
                                <button type="submit" class="btn btn-danger">Remove</button>
                            {% else %}
                                <button type="submit" class="btn btn-success">Add To Cart</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    {% include "pagination.html" %}

{% endblock %}
