{% extends "base.html" %}


{% block content %}
    <div class="row">
        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <img class="card-img-top" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
            <div class="card-block mx-auto text-center">
                <strong><h2 class="card-title">{{ product.name }}</h2></strong>
                <p class="card-text">{{ product.description }}</p>
                <h3>
                    Price: <span class="badge badge-info">{{ product.price }}$</span>
                </h3>
            </div>

            <div class='mx-auto text-center'>
                <form action="{% url 'cart:cart_update_url'%}" method="POST" class='form'>
                    {% csrf_token %}
                    <input type="hidden" name="product_id" id="product_id" value="{{ product.id }}" />
                    {% if product in cart.products.all %}
                        <button type="submit" class="btn btn-danger">Remove From Cart</button>
                    {% else %}
                        <button type="submit" class="btn btn-success">Add To Cart</button>
                    {% endif %}
                </form>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
{% endblock content %}
